    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        width: 80%;
        height: 100vh;
        margin: auto;
        background-color: white;
        position: relative;
    }
    
    .heading {
        color: skyblue;
        font-size: 30px;
        margin: auto;
        text-align: center;
        padding-top: 5%;
        /* text-shadow: 1px 2px 5px black; */
    }
    
    hr {
        width: 150px;
        margin: auto;
        box-sizing: border-box;
        position: relative;
    }
    
    .col {
        width: 100%;
        margin: auto;
        position: relative;
        top: 15%;
        box-sizing: border-box;
    }
    
    .mainbox {
        width: 33.333%;
        float: left;
        margin: auto;
        border: 0 1px solid white;
        padding-left: 20px;
        box-sizing: border-box;
        position: relative;
        top: 30%;
    }
    
    .mainbox .prize {
        width: 40px;
        height: 30px;
        text-align: center;
        padding-top: 8px;
        position: absolute;
        top: 10%;
        right: 0%;
        background-color: blueviolet;
    }
    
    .box {
        height: 250px;
        background-color: blueviolet;
        position: relative;
    }
    
    .box div {
        background-color: rgba(0, 0, 0, 0.068);
        color: seashell;
        position: absolute;
        width: 100%;
        bottom: 0%;
    }
    
    .box .left {
        position: absolute;
        padding-left: 10px;
        text-align: left;
    }
    
    .box .right {
        position: absolute;
        padding-left: 10px;
        text-align: right;
    }
    
    .box .right i {
        padding: 0 2px;
    }
    
    img {
        width: 100%;
        height: 250px;
    }
    
    .txt_right {
        font-size: 13px;
        margin-top: 10px;
        padding-right: 10px;
        color: slategray;
        position: relative;
        text-align: right;
    }
    
    .txt_right p {
        margin-top: 5px;
    }
    
    .star_pos {
        width: 100%;
        color: slategray;
        padding: 5px;
        display: flex;
        flex-direction: row;
    }
    
    button {
        width: 60px;
        font-size: 14px;
        border: none;
        padding: 3px;
        border-radius: 5px;
        background-color: skyblue;
    }
    
    .star_pos h5 {
        font-size: 13px;
        text-align: center;
        padding: 5px;
    }
    
    .star_pos i {
        width: 15%;
        padding: 5px;
        font-size: 13px;
    }
    
    .box_item1 {
        flex: 1;
    }
    
    .box_item2 {
        flex: 2;
    }
    
    .box_item3 {
        flex: 1;
    }
    
    div {
        display: block;
    }
    
    @media screen and (max-width:426px) {
        .heading,
        h1 {
            margin-top: 10px;
            font-size: 30px;
        }
        .col .mainbox {
            width: 100%;
            margin: auto;
            margin-bottom: 50px;
        }
        .box_item1 {
            flex: 1;
        }
        .box_item2 {
            flex: 3;
        }
        .box_item3 {
            flex: 3;
        }
    }
    
    @media screen and (max-width:768px) and (min-width:426px) {
        .container {
            width: 100%;
            margin: auto;
        }
        .heading,
        h1 {
            margin-top: 10px;
            font-size: 30px;
        }
        .col .mainbox {
            width: 60%;
            margin: auto;
            margin-bottom: 50px;
        }
        .box_item1 {
            flex: 1;
        }
        .box_item2 {
            flex: 3;
        }
        .box_item3 {
            flex: 1;
        }
    }
    
    @media screen and (max-width:1024px) and (min-width:769px) {
        .container {
            width: 100%;
            margin: auto;
        }
        .box_item1 {
            flex: 1;
        }
        .box_item2 {
            flex: 2;
        }
        .box_item3 {
            flex: 1;
        }
    }